<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/convert" method="post">
    <fieldset>
      <legend>Youtube to mp3</legend>
      <p><label for="link">Link from Youtube <em>*</em></label><input type="text" name="link"></p>
    </fieldset>
    <p><input type="submit" value="Send"></p>
  </form>
  <p>&copy; 2017 mptube.ml<p>
  </body>
</html>
